{% extends 'base.html' %}
{% block page_content %}

    {% if models == None %}
    <p class="no-articles">No games yet</p>

    {% else %}

            <section id="welcome-world">
            {% for model in models %}
                <!-- first game-->
                <div class="game">
                    <div class="image-wrap">
                        <!-- game image -->
                        <img src="{{ model.image_url }}"
                             alt="UNO">
                    </div>
                    <!-- game title -->
                    <h3>{{ model.title }}</h3>
                    <!-- game category-->
                    <h1>{{ model.category }}</h1>
                    <div class="data-buttons">
                        <!-- game details button -->
                        <a href="{% url 'game_details' model.id %}" class="btn details-btn">Details</a>
                    </div>
                </div>
            {% endfor %}
            </section>

    {% endif %}

{% endblock %}