{% extends 'base.html' %}
{% block page_content %}

    <!-- profile details section -->
    <section id="game-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- default profile image (if the user does NOT have any)-->
                {% if profile.profile_picture is not None %}
                    <img class="game-img" src='{{ profile.profile_picture }}' alt="has-profile-image"/>
                {% else %}
                    <img class="game-img" src="/GamePlay/static/images/default-user.jpg" alt='no-profile-image'/>

                {% endif %}
                {% if full_name is not None %}
                    <h1>{{ full_name }}</h1>
                {% endif %}
                <!-- user email -->
                <p class="text">{{ profile.email }}</p>
                <!-- user age -->
                <p class="text">{{ profile.age }}</p>
                <!-- total number of games -->
                <p class="text">Total games: {{ total_games }}</p>
                <!-- average rating for all games -->
                <p class="text">Average rating: {{ average_rating|floatformat:2 }}</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'profile_edit' %}" class="button">Edit</a>
                    <a href="{% url 'profile_delete' %}" class="button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}